<div class="center">
  <h1>Todoly</h1>
  <input type="text" id="input"/><br/>
  <input type="submit" value="Create Todo" id="create"/>
</div>
<div id="still-todo">

</div>
<div id="done-todo">

</div>